.chat-side
  .side-header
    .side-box
      %p.side-box__username
        Takao
      %ul.side-box__menu
        %li.side-box__edit-user
          = link_to "#" do
            = icon('fas','edit')
        %li.side-box__new-group
          = link_to "#" do
            = icon('fas','cog')
  
  .groups
    = link_to "#", class: "group" do
      %p.group-name
        techcamp
      %p.messege
        まだメッセージがありません
    
